.content-about {
    background-color: #C4C4C4;
    width: 100%;
    height: 600px;

}

.content-video {
    background-color: #C4C4C4;
    margin-top: 1.5%;
    width: 100%;
    height: 600px;

}

.filter {
    background-color: #C4C4C4;
    margin-top: 1.5%;
    width: 100%;
    height: 600px;

}